<h2 id="storeHeading">{{lego.name}}</h2>
<p id="brickColors">Brick colors: {{lego.brickColors.length}}</p>

<ul class="row" id="colorList" ng-repeat="(color,details) in lego.bricks">
    <li ng-attr-id="{{ 'color-' + color }}">{{color}}</li>
    <div ng-repeat="item in lego.bricks">
        <div ng-repeat="(size,info) in item" >
            <ul class="col-sm-3 well" ng-class="{'low-stock': info.quantity < 10}">
                <li ng-class="{{'brick-' + size}}">Size: {{size}}</li>
                <li>Price: {{info.price}}</li>
                <li>Quantity: {{info.quantity}}</li>
                <p ng-if="info.quantity < 5" class="coming-soon">More on the way!</p>
                <button class="buyButton" ng-click="lego.buy(info, size)">Buy</button>
                <button class="returnButton">Return</button>
            </ul>
        </div>
    </div>
</ul>