<h2 id="storeHeading">{{lego.name}}</h2>
<p id="brickColors">Brick colors: {{lego.brickColors.length}}</p>

<ul id="colorList" >
    <li id="color-{{color}}" class="row" ng-repeat="(color, details) in lego.bricks">
        {{color}}
        <ul>
            <li class="col-sm-3 well brick-{{size}}" ng-class="{'low-stock': info.quantity < 10}" ng-repeat="(size, info) in details">
                <p class="size">Size: {{size}}</p>
                <p class="price">Price: {{info.price}}</p>
                <p class="quantity">Quantity: {{info.quantity}}</p>
                <p ng-if="info.quantity < 5" class="coming-soon">More on the way!</p>
                <button class="buyButton" ng-click="lego.buy(color, size)">Buy</button>
                <button class="returnButton" ng-click="lego.return(color, size)">Return</button>
            </li>
        </ul>
    </li>
</ul>