<h2 id="storeHeading">{{lego.name}}</h2>
<p id="brickColors">Brick colors: {{lego.brickColors.length}}</p>
<!--<ul id="colorList" >
    <li ng-attr-id="{{ 'color-' + lego.bricks }}" ng-repeat="item in lego.bricks">{{item.1x1.price}}</li>
</ul>-->


<ul id="colorList" ng-repeat="(key,value) in lego.bricks">
    <li ng-attr-id="{{ 'color-' + key }}">{{key}}</li>
    <div ng-repeat="item in lego.bricks">
        <div ng-repeat="(key,value) in item">
            <ul>
                <li ng-class="{{'brick-' + key}}">{{key}}</li>
                <ul>
                    <li>{{value.price}}</li>
                    <li ng-class="{{value.quantity < 10 ? 'low-stock' : 'coming-soon' }}">{{value.quantity}}</li>
                    <!--<li ng-class="{{value.quantity < 10 ? 'low-stock' : value.quantity < 5 ? 'coming-soon'}}">{{value.quantity}}</li>-->
                </ul>
            </ul>
        </div>
    </div>
</ul>

<!--<div ng-repeat="item in lego.bricks">
    <div ng-repeat="(key,value) in item">
      <strong ng-class="{{'brick-' + key}}">{{key}}</strong>
      <p>{{value.price}}</p>
      <p>{{value.quantity}}</p>
   </div>
   <br>
</div>-->